name: Upload BNO055 Component to IDF Registry

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate manifest presence
        run: test -f ./idf_component.yml

      - name: Upload to ESP Component Registry
        uses: espressif/upload-components-ci-action@v2
        with:
          namespace: adithya-187326
          components: |
            - path: .
              version: ${{ github.ref_name }}
